<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <application
        android:label="Fcitx5 增强"
        android:description="@string/module_description"
        android:allowBackup="false"
        android:requestLegacyExternalStorage="true">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedname"
            android:value="Fcitx5 增强" />
        <meta-data
            android:name="xposedminversion"
            android:value="101" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="Fcitx5 增强配置">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".ConfigProvider"
            android:authorities="com.rebron1900.fcitx5enhanced.config"
            android:exported="true" />

    </application>
</manifest>
